{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nmu Chat</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="chats_container">

    <div class="user_top_field">
        {% if request.user.image %}
            <div class="user_img main_img" style="background-image: url({{request.user.image}})"></div>
        {% else %}
            <img src="{% static 'img/user_blank.svg' %}" class="user_img main_img" alt="">
        {% endif %}
        
        <div class="search">
            <input type="text" id="search_user">
        </div>
    </div>


    <div id="chats">
    {% for user in users %}
        <div class="user_cover">
            <div class="user">
                {% if user.image %}
                    <div class="user_img small_img" style="background-image: url({{user.image}})"></div>
                {% else %}
                    <img src={{ list_for_random | random }} class="user_img small_img" alt="">
                {% endif %}

                <div class="chat_info">
                    {% if user.first_name and user.last_name %}
                        <p>{{user.first_name}} {{user.last_name}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% elif user.first_name%}
                        <p>{{user.first_name}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% else %}
                        <p>{{user.email}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% endif %}

                    <span>...</span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<section class="container">
    <header class="chat_name_field">
        <span class="chat_name">nmu Chat</span>
        <input type="hidden" value="{{user.email}}">
        <span class="online"></span>
    </header>
  
    <main class="main_chat">
        <div id="text_area">
            <div class="greeting">
                <h1>Давайте начнём разговор!</h1>
                <h3>Нужные люди рядом</h2>
                    <!-- <div id="test1">
                        <a href="www.google.com" class="test">Google</a>
                        <a href="www.google.com" class="test">Link 2</a>
                        <a href="www.google.com" class="test">Link 3</a>
                        <a href="www.google.com" class="test">Link 4</a>
                      </div>
                      
                      <div class="hide" id="rmenu">
                        <ul>
                          <li>
                            <a href="http://www.google.com">Google</a>
                          </li>
                      
                          <li>
                            <a href="http://localhost:8080/login">Localhost</a>
                          </li>
                      
                          <li>
                            <a href="C:\">C</a>
                          </li>
                        </ul>
                      </div> -->
            </div>
      </div>
    </main>
  
    <div class="send_msg_forms">
        <form method="POST" id="fileForm">
            <div class="files_upload_div">
                <input type="file" name="img" id="files_upload" multiple>
                <label for="files_upload" class="files_upload_label">
                    <img src="{% static 'img/attach.png' %}" alt="">
                </label> 
            </div>
        </form>

        <form method="POST" id="mainForm">
            
        <textarea id="input" placeholder="Напишите что-то прекрасное..."></textarea>
        <button type="submit" id="submit">Send</button>
        </form>
    </div>
  </section>

    <div class="black_back"></div>
    <div class="settings">
        <h2>Настройки</h3>
        <form method="POST" id="myImageForm">
            <div class="my_image">
                {% if request.user.image %}
                    <img src="{{user.image}}" class="user_img big_img" alt="">
                {% else %}
                    <img src={{ list_for_random | random }} class="user_img big_img" alt="">
                {% endif %}

                <input type="file" name="img" id="my_img_file" accept="image/*">
                <label for="my_img_file" class="input_label">Загрузить фото</label> 
            </div>
        </form>
        <form method="POST" id="myDetails">
            <div class="my_email">
                <img src="{% static 'img/my_email.svg' %}" alt="">
                {{request.user.email}}
            </div>
            <div class="my_name">
                <img src="{% static 'img/my_name.svg' %}" alt="">
                <input id="my_name" type="text" placeholder="Имя">
                <input id="my_surname" type="text" placeholder="Фамилия">
            </div>
            <div class="my_phone">
                <img src="{% static 'img/my_phone.svg' %}" alt="">
                <input id="my_phone_num" type="text" placeholder="Номер телефона">
            </div>
            <div class="changes_saved">Изменения сохранены</div>

            <div class="left_handed_on">
                <img src="{% static 'img/pen.svg' %}" alt="">
                <span class="left_handed_header">Леворучный режим</span> 
                <input type="checkbox" name="left_handed" id="left_handed" value="">
            </div>            

            {% if request.user.is_authenticated %}
                <div class="logout">
                    <a href="{% url 'account:logout' %}"><span>Выйти</span></a>
                </div>
            {% endif %}
        </form>
    </div>



</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>


<!-- -------------------------------------- Изменение выпадающего меню после нажатия правой клавиши --------------------------------------------- -->
<style>
    .show {
  z-index: 1000;
  position: absolute;
  background-color: #C0C0C0;
  border: 1px solid blue;
  padding: 2px;
  display: block;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.hide {
  display: none;
}

.show li {
  list-style: none;
}

.show a {
  border: 0 !important;
  text-decoration: none;
}

.show a:hover {
  text-decoration: underline !important;
}
</style>

<!-- <script>
    $(document).ready(function() {


if ($("#test").addEventListener) {
  $("#test").addEventListener('contextmenu', function(e) {
    alert("You've tried to open context menu"); //here you draw your own menu
    e.preventDefault();
  }, false);
} else {

  //document.getElementById("test").attachEvent('oncontextmenu', function() {
  //$(".test").bind('contextmenu', function() {
  $('body').on('contextmenu', 'a.test', function() {


    //alert("contextmenu"+event);
    document.getElementById("rmenu").className = "show";
    document.getElementById("rmenu").style.top = mouseY(event) + 'px';
    document.getElementById("rmenu").style.left = mouseX(event) + 'px';

    window.event.returnValue = false;


  });
}

});

// this is from another SO post...  
$(document).bind("click", function(event) {
document.getElementById("rmenu").className = "hide";
});



function mouseX(evt) {
  if (evt.pageX) {
    return evt.pageX;
  } else if (evt.clientX) {
    return evt.clientX + (document.documentElement.scrollLeft ?
      document.documentElement.scrollLeft :
      document.body.scrollLeft);
  } else {
    return null;
  }
}

function mouseY(evt) {
  if (evt.pageY) {
    return evt.pageY;
  } else if (evt.clientY) {
    return evt.clientY + (document.documentElement.scrollTop ?
      document.documentElement.scrollTop :
      document.body.scrollTop);
  } else {
    return null;
  }
}
</script> -->

</html>