{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nmu Chat</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="delete_chat_bg"></div>
<div class="delete_chat_window">
  <p>Вы действительно хотите удалить чат? <br> Восстановить его будет невозможно</p>
  <span class="delete_chat_btn">Удалить</span>
</div>


<div class="chats_container">

    <div class="user_top_field">
        {% if request.user.image %}
            <div class="user_img main_img" style="background-image: url({{request.user.image}})"></div>
        {% else %}
            <img src="{% static 'img/user_blank.svg' %}" class="user_img main_img" alt="">
        {% endif %}
        
        <div class="search">
            <input type="text" id="search_user">
        </div>
    </div>


    <div id="chats">
    {% for user in users %}
        <div class="user_cover">
            <div class="user">
                {% if user.image %}
                    <div class="user_img small_img" style="background-image: url({{user.image}})"></div>
                {% else %}
                    <img src={{ list_for_random | random }} class="user_img small_img" alt="">
                {% endif %}

                <div class="chat_info">
                    {% if user.first_name and user.last_name %}
                        <p>{{user.first_name}} {{user.last_name}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% elif user.first_name%}
                        <p>{{user.first_name}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% else %}
                        <p>{{user.email}}</p>
                        <input type="hidden" value="{{user.email}}">
                    {% endif %}

                    <span>...</span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<section class="container">
    <header class="chat_name_field">
        <span class="chat_name">nmu Chat</span>
        <input type="hidden" value="{{user.email}}">
        <span class="online"></span>
    </header>
  
    <main class="main_chat">
      <div id="text_area">
          <div class="greeting">
            <h1>Давайте начнём разговор!</h1>
            <h3>Нужные люди рядом</h2>
          </div>
      </div>
    </main>
  
    <div class="change_msg_field">
      <div class="close_edit_msg">+</div>
      <p><strong>Изменить сообщение: </strong></p>
      <span></span>
      <input type="hidden">
    </div>
    <div class="send_msg_forms">
        <form method="POST" id="fileForm">
            <div class="files_upload_div">
                <input type="file" name="img" id="files_upload" multiple>
                <label for="files_upload" class="files_upload_label">
                    <img src="{% static 'img/attach.png' %}" alt="">
                </label> 
            </div>
        </form>

        <form method="POST" id="mainForm">
            
        <textarea id="input" placeholder="Напишите что-то прекрасное..."></textarea>
        <button type="submit" id="submit">Send</button>
        <span id="edit_btn" style="padding: 0;"><img src="{% static 'img/edit_icon.svg' %}" alt="" style="padding: 0; width: 40px;"></span>
        </form>
    </div>
  </section>


    <div class="black_back"></div>
    <div class="settings">
        <h2>Настройки</h3>
        <form method="POST" id="myImageForm">
            <div class="my_image">
                {% if request.user.image %}
                    <img src="{{user.image}}" class="user_img big_img" alt="">
                {% else %}
                    <img src={{ list_for_random | random }} class="user_img big_img" alt="">
                {% endif %}

                <input type="file" name="img" id="my_img_file" accept="image/*">
                <label for="my_img_file" class="input_label">Загрузить фото</label> 
            </div>
        </form>
        <form method="POST" id="myDetails">
            <div class="my_email">
                <img src="{% static 'img/my_email.svg' %}" alt="">
                {{request.user.email}}
            </div>
            <div class="my_name">
                <img src="{% static 'img/my_name.svg' %}" alt="">
                <input id="my_name" type="text" placeholder="Имя">
                <input id="my_surname" type="text" placeholder="Фамилия">
            </div>
            <div class="my_phone">
                <img src="{% static 'img/my_phone.svg' %}" alt="">
                <input id="my_phone_num" type="text" placeholder="Номер телефона">
            </div>
            <div class="changes_saved">Изменения сохранены</div>

            <div class="left_handed_on">
                <img src="{% static 'img/pen.svg' %}" alt="">
                <span class="left_handed_header">Леворучный режим</span> 
                <input type="checkbox" name="left_handed" id="left_handed" value="">
            </div>            

            {% if request.user.is_authenticated %}
                <div class="logout">
                    <a href="{% url 'account:logout' %}"><span>Выйти</span></a>
                </div>
            {% endif %}
        </form>
    </div>



</body>


<script src="{% static 'js/script.js' %}"></script>

</html>